<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blogpost User Authentication System</title>
   
</head>
<body style="background-color: chartreuse;">

    
      
    <header>
        <nav>
            <ul>
                <li><a href="{%url 'create-account'%}">Register</a></li>
                <li><a href="{%url 'user-login'%}">Login</a></li>
                {%if user.is_authenticated %}
                <li><a href="{%url 'home-page'%}">Homepage</a></li>
                <li><a href="{%url 'profile'%}">Profile</a></li>
                <li><a href="{%url 'logout-confirm'%}">Logout</a></li>
                {%else%}
                <li><a href="{%url 'create-account'%}">Return back to signup</a></li>
                {%endif %}
            </ul>
        </nav>
    </header>
         

         {%block content%}



         {%endblock content%}


</div>

</body>
</html>